In [1]:
import pandas as pd
import numpy as np

In [2]:
num_rows = 50

data = {
    'Produto':[f'Produto_{i}' for i in range(1, num_rows + 1)],
    'Categoria':np.random.choice(['Televisão', 'Computador', 'Celular', 'Tablet', 'Impressora'], size=num_rows),
    'Preço':np.random.uniform(100.0,2000.0, size=num_rows).round(2),
    'Quantidade_Estoque':np.random.randint(1, 50, size=num_rows)
    }

In [3]:
df=pd.DataFrame(data)

In [4]:
df['Multiplicar']=df['Preço']*df['Quantidade_Estoque']

In [5]:
def Multiplicar2(x):
            return x['Quantidade_Estoque'] * x['Preço']

In [6]:
df['Multiplicar2'] = df.apply(Multiplicar2,axis=1)
df

,Produto,Categoria,Preço,Quantidade_Estoque,Multiplicar,Multiplicar2
0,Produto_1,Tablet,1834.78,1,1834.78,1834.78
1,Produto_2,Tablet,1470.61,27,39706.47,39706.47
2,Produto_3,Impressora,795.78,47,37401.66,37401.66
3,Produto_4,Celular,710.65,30,21319.50,21319.50
4,Produto_5,Celular,1791.54,37,66286.98,66286.98
5,Produto_6,Celular,823.47,16,13175.52,13175.52
6,Produto_7,Computador,651.56,28,18243.68,18243.68
7,Produto_8,Televisão,1668.07,2,3336.14,3336.14
8,Produto_9,Tablet,1500.41,2,3000.82,3000.82
9,Produto_10,Celular,1924.27,2,3848.54,3848.54
10,Produto_11,Impressora,114.63,9,1031.67,1031.67
11,Produto_12,Televisão,625.33,8,5002.64,5002.64
12,Produto_13,Televisão,182.56,43,7850.08,7850.08
13,Produto_14,Televisão,788.89,46,36288.94,36288.94
14,Produto_15,Impressora,1218.02,24,29232.48,29232.48
15,Produto_16,Celular,610.77,38,23209.26,23209.26
16,Produto_17,Tablet,1989.01,3,5967.03,5967.03
17,Produto_18,Computador,157.03,18,2826.54,2826.54
18,Produto_19,Tablet,599.11,11,6590.21,6590.21
19,Produto_20,Celular,1146.69,8,9173.52,9173.52
20,Produto_21,Computador,746.09,40,29843.60,29843.60
21,Produto_22,Televisão,1301.64,43,55970.52,55970.52
22,Produto_23,Computador,1963.67,18,35346.06,35346.06
23,Produto_24,Celular,161.50,49,7913.50,7913.50
24,Produto_25,Televisão,162.10,23,3728.30,3728.30
25,Produto_26,Impressora,367.80,36,13240.80,13240.80
26,Produto_27,Tablet,1193.06,10,11930.60,11930.60
27,Produto_28,Tablet,1666.74,28,46668.72,46668.72
28,Produto_29,Computador,294.34,25,7358.50,7358.50
29,Produto_30,Celular,1382.01,46,63572.46,63572.46
30,Produto_31,Tablet,595.29,29,17263.41,17263.41
31,Produto_32,Televisão,1141.47,49,55932.03,55932.03
32,Produto_33,Computador,315.94,11,3475.34,3475.34
33,Produto_34,Tablet,661.63,13,8601.19,8601.19
34,Produto_35,Celular,759.42,25,18985.50,18985.50
35,Produto_36,Impressora,1297.78,22,28551.16,28551.16
36,Produto_37,Televisão,417.71,32,13366.72,13366.72
37,Produto_38,Celular,1637.64,41,67143.24,67143.24
38,Produto_39,Computador,119.96,37,4438.52,4438.52
39,Produto_40,Tablet,1832.98,4,7331.92,7331.92
40,Produto_41,Impressora,460.36,9,4143.24,4143.24
41,Produto_42,Tablet,405.37,40,16214.80,16214.80
42,Produto_43,Televisão,1495.72,27,40384.44,40384.44
43,Produto_44,Celular,264.19,34,8982.46,8982.46
44,Produto_45,Computador,1964.05,2,3928.10,3928.10
45,Produto_46,Computador,333.65,41,13679.65,13679.65
46,Produto_47,Impressora,819.80,31,25413.80,25413.80
47,Produto_48,Tablet,551.23,40,22049.20,22049.20
48,Produto_49,Tablet,145.70,3,437.10,437.10
49,Produto_50,Celular,1402.38,39,54692.82,54692.82

In [7]:
df['Multiplicar2'].min()
df['Multiplicar2'].max()
df['Multiplicar2'].std()
df['Multiplicar2'].median()

np.float64(13303.76)

In [8]:
df_filtrado = df[(df['Categoria']=='Computador')]
df_filtrado2 = df[(df['Preço']>500)&(df['Categoria']=='Computador')]
df_filtrado3 = df[(df['Quantidade_Estoque']>40)|(df['Categoria']=='Impressora')]
df_filtrado

,Produto,Categoria,Preço,Quantidade_Estoque,Multiplicar,Multiplicar2
6,Produto_7,Computador,651.56,28,18243.68,18243.68
17,Produto_18,Computador,157.03,18,2826.54,2826.54
20,Produto_21,Computador,746.09,40,29843.60,29843.60
22,Produto_23,Computador,1963.67,18,35346.06,35346.06
28,Produto_29,Computador,294.34,25,7358.50,7358.50
32,Produto_33,Computador,315.94,11,3475.34,3475.34
38,Produto_39,Computador,119.96,37,4438.52,4438.52
44,Produto_45,Computador,1964.05,2,3928.10,3928.10
45,Produto_46,Computador,333.65,41,13679.65,13679.65

In [9]:
df_filtrado = df[(df['Categoria']=='Computador')]
df_filtrado2 = df[(df['Preço']>500)&(df['Categoria']=='Computador')]
df_filtrado3 = df[(df['Quantidade_Estoque']>40)|(df['Categoria']=='Impressora')]
df_filtrado2

,Produto,Categoria,Preço,Quantidade_Estoque,Multiplicar,Multiplicar2
6,Produto_7,Computador,651.56,28,18243.68,18243.68
20,Produto_21,Computador,746.09,40,29843.60,29843.60
22,Produto_23,Computador,1963.67,18,35346.06,35346.06
44,Produto_45,Computador,1964.05,2,3928.10,3928.10

In [10]:
df_filtrado = df[(df['Categoria']=='Computador')]
df_filtrado2 = df[(df['Preço']>500)&(df['Categoria']=='Computador')]
df_filtrado3 = df[(df['Quantidade_Estoque']>40)|(df['Categoria']=='Impressora')]
df_filtrado3

,Produto,Categoria,Preço,Quantidade_Estoque,Multiplicar,Multiplicar2
2,Produto_3,Impressora,795.78,47,37401.66,37401.66
10,Produto_11,Impressora,114.63,9,1031.67,1031.67
12,Produto_13,Televisão,182.56,43,7850.08,7850.08
13,Produto_14,Televisão,788.89,46,36288.94,36288.94
14,Produto_15,Impressora,1218.02,24,29232.48,29232.48
21,Produto_22,Televisão,1301.64,43,55970.52,55970.52
23,Produto_24,Celular,161.50,49,7913.50,7913.50
25,Produto_26,Impressora,367.80,36,13240.80,13240.80
29,Produto_30,Celular,1382.01,46,63572.46,63572.46
31,Produto_32,Televisão,1141.47,49,55932.03,55932.03
35,Produto_36,Impressora,1297.78,22,28551.16,28551.16
37,Produto_38,Celular,1637.64,41,67143.24,67143.24
40,Produto_41,Impressora,460.36,9,4143.24,4143.24
45,Produto_46,Computador,333.65,41,13679.65,13679.65
46,Produto_47,Impressora,819.80,31,25413.80,25413.80

In [11]:
caminho = (r'C:\Users\andre_r_borges\Documents\aplicativo\exemplo-aplicativo.xlsx')
df.to_excel(caminho)